############################################
## Generic System Ignores
syntax: glob

!.gitignore

.DS_Store
Thumbs.db
.idea
*.log
dist/github
dist/mac
dist/win-ia32-unpacked
dist/win-unpacked
dist/linux-unpacked